<!DOCTYPE html>
<html>
    <head>
        <title> 단어 카드 추가 </title>
        <meta charset = "utf-8">
    </head>
    <body>
        <div>
            <h1>CREATE CARD</h1>
        </div>
        <form action="/create_card" method="POST">
            <p>eng: <input type = "text" name = "eng" value = "word"> </p>
            <p>kor: <input type = "text" name = "kor" value = "단어"> </p>
            <p><input type = "submit" value = "단어 추가"></p>
        </form>
        <div>
            <input type = "button" name = "btn" style = "WIDTH: 80pt; HEIGHT: 30pt;" value = "시작 화면으로" onClick = "location.href='/'">
        </div>
    </body>
</html>