<!DOCTYPE html>
<html>
    <head>
        <title> 라이트너 암기법 </title>
        <meta charset = "utf-8">
    </head>
    <body>
        <div><input type = "button" name = "playbtn" style = "WIDTH: 120pt; HEIGHT: 30pt;float:left;" value = "단어 학습 시작하기" onClick = "location.href= 'play'" /></div>
        <div><input type = "button" name = "createbtn" style = "WIDTH: 120pt; HEIGHT: 30pt;float:left;" value = "단어 카드 추가하기" onClick = "location.href='create_card'" /> </div>
        <div><input type = "button" name = "viewbtn" style = "WIDTH: 120pt; HEIGHT: 30pt;" value = "단어 카드 조회하기" onClick = "location.href='view_cards'" /></div>
        <div><input type = "button" name = "playbtn" style = "WIDTH: 120pt; HEIGHT: 30pt;float:left;" value = "이미지 학습 시작하기" onClick = "location.href= 'img_play'" /></div>
        <div><input type = "button" name = "playbtn" style = "WIDTH: 120pt; HEIGHT: 30pt;float:left;" value = "이미지 카드 추가하기" onClick = "location.href= 'create_imgcard'" /></div>
        <div><input type = "button" name = "playbtn" style = "WIDTH: 120pt; HEIGHT: 30pt;" value = "이미지 카드 조회하기" onClick = "location.href= 'view_imgcards'" /></div>
    </body>
</html>